body {
  background-color: #1c222b;
}
.calculator {
  width: 300px;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #f2f2f2;
  padding: 10px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(190, 150, 18, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input[type="text"] {
  width: 95%;
  margin-bottom: 10px;
  padding: 9px;
  font-size: 20px;
  border: none;
  
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 15px;
  font-size: 20px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gray-button {
  background-color: #ccc;
}

.operator-button {
  background-color: #ff9f00;
  color: #fff;
}

button:hover {
  background-color: #d4d4d4;
}
