@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
body {
    width: 500px;
    margin: 250px auto;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing:  5px;
    background: rgb(255, 255, 255);
      
  }
  #content {
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    
  }
  
  .phone {
    width: 320px;
    max-width: 320px;
    height: 650px;
    background: #000;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
  }
  
  .screen {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background: #000;
    border-radius: 30px;
    overflow: hidden!important;
    background-position: center;
    background-size: cover;
  }
  
  .top {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .dock-left, .dock-right {
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
    color: #fff;
  }
  
  .dock-left {
    padding: 5px 10px 0 5px;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    text-shadow: -1px 0 #bbb, 0 1px #bbb, 1px 0 #bbb, 0 -1px #bbb;
  }
  
  .clock {width: 100%}
  
  .dock-right {
    display: flex;
    justify-content: space-around;
    padding: 5px 10px 0 5px;
  }
  
  .dock { 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 30px;
    padding: -5px 5px 0 5px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .dock .sensor, .dock .camera {
    width: 12px;
    height: 12px;
    background: #2c2a2a;
    border-radius: 50%;
    margin: 0 3px 14px 3px;
  }
  
  .dock .speaker {
    width: 60px;
    height: 8px;
    background: #2c2a2a;
    border-radius: 7px;
    margin: 0 5px 17px 5px;
  }
  
  #icons {
    overflow: -moz-hidden-unscrollable;
    display: flex;
    justify-content: center;
    flex: 1;
    height: 500px;
    max-height: 500px;
    padding-top: 18px;
    padding-bottom: 18px;
    flex-wrap: wrap;
    align-content: flex-start;
  }

.input {
  height: 60px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  margin-right: 6px;
  font-size: 4rem;
  transition: all .2s ease-in-out;
  color: #fff;
  margin-top: 40px;
  margin-bottom:70px;

}

  
  .input:hover {
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  
  .operators div {
    display: inline-block;
    border-radius: 20px;
    width: 13%;
    text-align: center;
    padding: 9px;
    padding-left: 18px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: rgb(123, 127, 131);
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
    font-size: 1.8rem;
    margin-top: 50px;

  }
  
  .operators div:hover {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: rgb(255, 255, 255);
  }
  
  .operators div:active {
    font-weight: bold;
  }
  
  .leftPanel {
    display: inline-block;
    font-size: 1.1rem;

}
.numbers {
  height: 90%;
}

.numbers div {
  display: inline-block;
  border-radius: 100%;
  width: 10%;
  color: #fff;
  text-align: center;
  padding: 9px;
  padding-left: 18px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: rgb(49, 47, 47);
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  font-size: 1.8rem;
  margin-top: 15px;
  

}

  .numbers div:hover {
    background-color: rgb(82, 77, 77);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: rgb(0, 0, 0);
  }
  
  .numbers div:active {
    font-weight: bold;
  }
  
  div.equal {
    display: inline-block;
    border-radius: 30px;
    justify-content: center;
    width: 13%;
    align-items: center;
    padding: 127px 10px;
    padding-left: 70px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: black;
    background-color: rgb(255, 136, 0);
    transition: all .2s ease-in-out;
    font-size: 1rem;
  }
  
  div.equal:hover {
    background-color: rgb(234, 177, 57);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  
  div.equal:active {
    font-weight: bold;
  }
  .img-equal{
    width: 30px;
  }